/* animation */
#particles{
    z-index: 1;
    height: 105%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#particles_2{
    z-index: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-col {
  z-index: 2;
  pointer-events: none;
}

.side-col .tocbot-link {
  padding: 1vh;
  pointer-events: auto;
}

/* my custom */

.nav-link {
  font-weight: bold;
}

.banner-text {
  font-weight: bold;
}

.index-card {
  /* border: 3px solid black; */
  border-top: 2px solid #e74c3c;
}

#navbar {
  border-bottom: 2px solid #fff;
}

.statistics {
  font-weight: bold;
  font-size: 1rem;
}

#banner {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
